cffi==1.14.0
click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.16.0
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.20
mysqlclient==2.0.0
nltk==3.5
numpy==1.19.0
protobuf==3.15.0
# PyAudio==0.2.11
pycparser==2.20
pynput==1.6.8
# pyobjc-core==6.2.1
# pyobjc-framework-Cocoa==6.2.1
# pyobjc-framework-Quartz==6.2.1
regex==2020.6.8
scikit-learn==0.23.1
scipy==1.5.0
six==1.15.0
sklearn==0.0
sounddevice==0.3.15
SoundFile==0.10.3.post1
threadpoolctl==2.1.0
tqdm==4.47.0
Werkzeug==1.0.1
